<div class="container d-flex bg-dark text-white rounded justify-content-around gap-5 p-5 mt-10 rounded-5">
  <div class="w-25">
    <p class="text-uppercase text-bold">Company name</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quos vitae, dolore sequi est optio repellat
      quae aspernatur, totam aliquid voluptate obcaecati numquam consequuntur, voluptatibus exercitationem recusandae
      cum velit beatae</p>
  </div>
  <div class="">
    <p class="text-uppercase text-bold">Products</p>
    <p><a href="" class="text-decoration-none">Bootstrap</a></p>
    <p><a href="" class="text-decoration-none">Angular</a></p>
    <p><a href="" class="text-decoration-none">Node</a></p>
    <p><a href="" class="text-decoration-none">Java</a></p>
  </div>
  <div class="">
    <p class="text-uppercase text-bold">Contact</p>
    <div class="d-flex justify-content-between align-items-center gap-2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTl2k67USikxPG38F6BP6QWfoGtEx26hWNiOg&s"
        alt="contact-logo" height="15" class="rounded">
      <a class="text-uppercase text-decoration-none link-success">123-123-12</a>
    </div>
    <div class="d-flex justify-content-between align-items-center gap-2">
      <img
        src="https://png.pngtree.com/png-vector/20221106/ourmid/pngtree-email-icon-green-and-white-line-style-vector-illustration-clipart-hd-png-image_6401857.png"
        alt="email-logo" height="20" class="rounded">
      <a class="text-uppercase text-decoration-none link-info">abc@gmail.com</a>
    </div>
    <div class="d-flex justify-content-between align-items-center gap-2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq-Op0A76QGdZQJLeJU5X8zvhAOnfhF20vsA&s"
        alt="facebook-logo" height="15" class="rounded">
      <a class="text-uppercase text-decoration-none link-primary">facebook</a>
    </div>
    <div class="d-flex justify-content-between align-items-center gap-2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXX1dquqqj6l3lL5YvAjK2BXhKtssIhtLkeQ&s"
        alt="contact-logo" height="15" class="">
      <a class="text-uppercase text-decoration-none link-light">twitter</a>
    </div>
  </div>
</div>