<div class="container d-flex justify-content-center mb-5">
  <img
    src="https://images.pexels.com/photos/31061649/pexels-photo-31061649/free-photo-of-woman-shielding-from-rain-in-central-london.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
    alt="hero-image" width="400" height="auto" class="border rounded-3">
  <div class="d-flex align-items-center">
    <div class="p-5">
      <p class="fs-1">
        Embrace the Journey, Rain or Shine
      </p>
      <p>
        Life is full of unexpected moments. Keep moving forward with resilience and confidence, no matter the weather.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur pariatur quas ullam nemo ipsam laborum?
      </p>
    </div>
  </div>
</div>